
:root {
    --bg-color: #F8F9FA;
    --primary: #2563EB;
    --secondary: #64748B;
    --success: #22C55E;
    --danger: #EF4444;
    --text-dark: #1F2937;
    --joystick-bg: #d2d5db;
    --card-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    --dist-menu-hidden: 150px;
}

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif; }

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Mockup iPhone 15 */
.iphone-15 {
    width: 393px;
    height: 852px;
    background: var(--bg-color);
    border: 12px solid #222;
    border-radius: 55px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

/* Dynamic Island */
.island {
    width: 120px;
    height: 35px;
    background: var(--text-dark);
    border-radius: 20px;
    margin: 12px auto;
}
#menu-btn{
    width: 70px;
    color: white;
    position: absolute;
    top: 40px;
    right: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
}

.btn-menu-desativado{ background-color: var(--primary); }
.btn-menu-action{ background-color: #5384ee; }

#menu {
    width: var(--dist-menu-hidden);
    background: var(--bg-color);
    color: var(--text-dark);
    position: absolute;
    top: 80px;
    right: 0;
    padding: 10px;
    transition: transform 0.3s ease;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    margin: 10px 0;
}

#menu a {
    color: var(--text-dark);
    text-decoration: none;
}

/* escondido */
.hidden {
    transform: translateX(var(--dist-menu-hidden));
}

/* visível */
.show {
    transform: translateX(0);
}

.header-app {
    padding: 20px;
    background: white;
}

.header-app h1 { font-size: 24px; margin: 0; }
.header-app p { color: var(--ios-text-gray); font-size: 14px; }

/* Container rolável */
.word-options {
    flex: 1;
    overflow-y: auto;
    background-color: var(--ios-bg);
    padding: 15px;
}

.categoria-bloco {
    margin-bottom: 25px;
}

.categoria-titulo {
    font-size: 13px;
    color: var(--ios-text-gray);
    text-transform: uppercase;
    margin: 0 0 8px 10px;
}

.grid-inputs {
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    padding: 12px 15px;
    font-size: 17px;
    border-bottom: 1px solid #e5e5ea;
    outline: none;
}

input:last-child { border-bottom: none; }

input:focus {
    color: var(--ios-blue);
}